# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Create a Jupyter Notebook
+ Create a Jupyter Notebook
+ Insert code and markdown cells
+ List popular languages for Data Science
+ List arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
+ Python
+ R
+ SQL

Some of the commonly used libraries used by Data Scientists include:
+ Numpy
+ Pandas
+ Pytorch
+ Tensorflow

|Data Science Tools|
|---------------------|
|Jupyter Notebooks|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:
+ sum(+)
+ multuplication (*)
+ devsion (/)

In [2]:
#This a simple arithmetic expression to mutiply then add integers
m = 3
n = 4
p = 5
(m*n)+p

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
def hours(m):
    h = m/60
    print('the number of hours is', h)
    return 
hours(200)

the number of hours is 3.3333333333333335

## Author
## Hamza BARGOUGUI